<div class="container">

  <h1>The Evil Dead's Demo Home from Hell</h1>
  <h2>It swallowed your soul! Someone's in my fruit cellar!</h2>
    <div style="background-image: url(assets/images/EvilDead.png); "></div>
</div>
<div style="background-image: url(assets/images/EvilDead.png); "></div>
